@charset "utf-8";
*{margin: 0;padding: 0;}
html,body {
    overflow: hidden;
}

div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background:-webkit-linear-gradient(red 47%, black 47%, black 53%, white 53%, white 100%);
    border-radius: 50%;
    box-shadow: -10px -10px 30px 5px rgba(0, 0, 0, 0.5) inset;
    transition: all 40s linear;
}

div:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000, 0 0 0 7px white, 0 0 0 17px #000;
}

div:hover {
    transform: rotate(7200deg) scale(3);
}